<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قوانین اپلیکیشن ایستگاه شارژ</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #343a40;
            color: #ffffff;
        }

        .container {
            margin-top: 2rem;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }

        .language-buttons a {
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="language-buttons d-flex justify-content-end mb-3">
            <a href="/info/en" class="btn btn-light btn-sm">EN</a>
            <a href="/info/ch" class="btn btn-light btn-sm">中文</a>
            <a href="/info/ru" class="btn btn-light btn-sm">РУ</a>
            <a href="/info/fa" class="btn btn-light btn-sm">فا</a>
        </div>
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h1 class="card-title text-center">قوانین اپلیکیشن ایستگاه شارژ</h1>
                <p class="card-text">این اپلیکیشن به طور خاص طراحی شده است تا زندگی را برای همه کسانی که از ایستگاه‌های شارژ در این ساختمان استفاده می‌کنند، آسان کند. در اینجا چند قانون است که به ما در به حداکثر رساندن این امکانات کمک می‌کند.</p>
                <ol class="card-text">
                    <li>به محض پیدا کردن جای خالی، کد QR را اسکن کنید.</li>
                    <li>جای خود را در لیست سلول های موجود پیدا کنید (همه سلول ها شماره گذاری شده‌اند).</li>
                    <li>زمانی را که می‌خواهید جایگاه خود را رزرو کنید انتخاب کنید. توجه داشته باشید که اگر ماشین خود را شبانه برای شارژ بگذارید، رزرو شما به طور خودکار در ساعت 10 صبح لغو می‌شود.</li>
                    <li>هنگامی که دوباره وارد سایت می‌شوید، اطلاعات رزرو شما نمایش داده خواهد شد.</li>
                    <li>اگر ماشین خود را قبل از اتمام زمان شارژ از شارژر خارج کردید، می‌توانید مجدداً کد QR را اسکن کرده و رزرو را متوقف کنید. سپس همه کاربران دیگر می‌دانند که جایگاه خالی است.</li>
                </ol>
                <p class="card-text">این اپلیکیشن در مرحله آزمایشی است و بهبود خواهد یافت. اگر متوجه شدید که اپلیکیشن به درستی کار نمی‌کند، لطفاً به من به شماره <a href="tel:8188134957" class="text-light">8188134957</a> یا هر اطلاعات تماس دیگری در وب سایت من اطلاع دهید. در حال حاضر، توسعه دهنده این اپلیکیشن به دنبال یک شغل به عنوان توسعه دهنده پایتون است. اگر پیشنهاد شغلی دارید، وب سایت من: <a href="http://zheliabovskii.info" class="text-light">zheliabovskii.info</a>.</p>
                <div class="btn-container">
                    <a href="/" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;">من قوانین را می‌پذیرم</a>
                    <a href="http://zheliabovskii.info" class="btn btn-info" style="background-color: #17a2b8; border-color: #17a2b8;">درباره توسعه دهنده</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>