<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charging Station App Rules</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #343a40;
            color: #ffffff;
        }

        .container {
            margin-top: 2rem;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }

        .language-buttons a {
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="language-buttons d-flex justify-content-end mb-3">
            <a href="/info/en" class="btn btn-light btn-sm">EN</a>
            <a href="/info/ch" class="btn btn-light btn-sm">中文</a>
            <a href="/info/ru" class="btn btn-light btn-sm">РУ</a>
            <a href="/info/fa" class="btn btn-light btn-sm">فا</a>
        </div>
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h1 class="card-title text-center">Charging Station App Rules</h1>
                <p class="card-text">This app is specifically designed to make life easier for everyone who uses the charging stations in this building. Here are a few rules to help us maximize these functions.</p>
                <ol class="card-text">
                    <li>As soon as you find a free space, scan the QR code.</li>
                    <li>Find your spot in the list of available slots (all slots are numbered).</li>
                    <li>Choose the time for which you would like to book your spot. Please note that if you leave your car overnight to charge, your reservation will be cancelled automatically at 10AM.</li>
                    <li>When you re-enter the site, your reservation information will be visible.</li>
                    <li>If you remove your car from the charger before your time has elapsed, you can scan the QR code again and stop the reservation. Then all other users will know that the spot is free.</li>
                </ol>
                <p class="card-text">The app is in testing phase and will be improved. If you notice that the app is not working correctly, please let me know at <a href="tel:8188134957" class="text-light">8188134957</a> or any contact information on my website. At the moment, the developer of this application is looking for a job as a Python Developer. If you would like to get in touch regarding a position, my website is <a href="http://zheliabovskii.info" class="text-light">zheliabovskii.info</a>.</p>
                <div class="btn-container">
                    <a href="/" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;">I ACCEPT THE RULES</a>
                    <a href="http://zheliabovskii.info" class="btn btn-info" style="background-color: #17a2b8; border-color: #17a2b8;">About Developer</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>